// crée les variables a parties des données du fichier style-guide.md

// variables de couleurs 

// couleurs de base 

$green-lighter : hsl(148, 38%, 91%);
$green-medium : hsl(169, 82%, 27%);
$red :  hsl(0, 66%, 54%);

// couleurs neutre 

$white : hsl(0, 0%, 100%);
$grey-medium: hsl(186, 15%, 59%); 
$grey-darker:  hsl(187, 24%, 22%);

// typographie

$body-text: 16px;